.perfil{
    background-color: rgb(215, 215, 215);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    margin-right: 0px;
    display: flex;
}
.perfil img{
    size: 200px;
    border-radius: 100%;
}
.perfil p {
    margin-top: 80px;
    margin-left: 20px;
    font-style: italic;
    
}